<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFlightSchedule" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFrso_1/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightSchedule"
                contract="ServiceReference.IFlightSchedule" name="BasicHttpBinding_IFlightSchedule" />
        </client>
    </system.serviceModel>
</configuration>
